---
layout: default
title: Poster, Leinwand, Postkarten & diverse Fotogeschenke
pop-up: true
seo:
  title: Poster, Leinwande & Postkarten | Heidi Ulrich Fotografie
  description: >-
    Ich bin Heidi Ulrich, passionierte Naturfotografin und ich verkaufe meine
    Bilder als Wandbilder wie Poster, Leinwand, als Fotogeschenke und
    Postkarten.
  social_image:
  twitter_card:
  keywords: >-
    4000er Berge Fotografien, Naturfotografie, Landschaftsbilder, Naturbilder,
    Magische Bilder, 4000er Momenter, Landschaftsfotografie, Magische
    Augenblicke, Schönheit der Natur, Naturwunder, Fotogeschenke, Naturmomente
  hide-from-google: false
popup-gallery: true
gallery-background: bg-white
gallery:
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-1.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-1.jpg
    bildnummer: "#001"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-2.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-2.jpg
    bildnummer: "#002"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-3.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-3.jpg
    bildnummer: "#003"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-4.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-4.jpg
    bildnummer: "#004"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-5.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-5.jpg
    bildnummer: "#005"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-6.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-6.jpg
    bildnummer: "#006"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-7.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-7.jpg
    bildnummer: "#007"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-8.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-8.jpg
    bildnummer: "#008"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-9.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-9.jpg
    bildnummer: "#009"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-10.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-10.jpg
    bildnummer: "#010"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-11.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-11.jpg
    bildnummer: "#011"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-12.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-12.jpg
    bildnummer: "#012"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-13.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-13.jpg
    bildnummer: "#013"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-14.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-14.jpg
    bildnummer: "#014"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-15.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-15.jpg
    bildnummer: "#015"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-16.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-16.jpg
    bildnummer: "#016"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-17.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-17.jpg
    bildnummer: "#017"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-18.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-18.jpg
    bildnummer: "#018"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-19.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-19.jpg
    bildnummer: "#019"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-20.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-20.jpg
    bildnummer: "#020"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-21.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-21.jpg
    bildnummer: "#021"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-22.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-22.jpg
    bildnummer: "#022"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-23.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-23.jpg
    bildnummer: "#023"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-24.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-24.jpg
    bildnummer: "#024"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-25.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-25.jpg
    bildnummer: "#025"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-26.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-26.jpg
    bildnummer: "#026"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-27.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-27.jpg
    bildnummer: "#027"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-28.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-28.jpg
    bildnummer: "#028"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-29.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-29.jpg
    bildnummer: "#029"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-30.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-30.jpg
    bildnummer: "#030"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-31.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-31.jpg
    bildnummer: "#031"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-32.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-32.jpg
    bildnummer: "#032"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-33.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-33.jpg
    bildnummer: "#033"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-34.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-34.jpg
    bildnummer: "#034"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-35.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-35.jpg
    bildnummer: "#035"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-36.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-36.jpg
    bildnummer: "#036"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-37.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-37.jpg
    bildnummer: "#037"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-38.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-38.jpg
    bildnummer: "#038"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-39.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-39.jpg
    bildnummer: "#039"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-40.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-40.jpg
    bildnummer: "#040"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-41.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-41.jpg
    bildnummer: "#041"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-42.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-42.jpg
    bildnummer: "#042"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-43.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-43.jpg
    bildnummer: "#043"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-44.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-44.jpg
    bildnummer: "#044"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-45.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-45.jpg
    bildnummer: "#045"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-46.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-46.jpg
    bildnummer: "#046"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-47.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-47.jpg
    bildnummer: "#047"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-48.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-48.jpg
    bildnummer: "#048"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-49.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-49.jpg
    bildnummer: "#049"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-50.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-50.jpg
    bildnummer: "#050"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-51.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-51.jpg
    bildnummer: "#051"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-52.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-52.jpg
    bildnummer: "#052"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-53.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-53.jpg
    bildnummer: "#053"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-54.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-54.jpg
    bildnummer: "#054"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-55.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-55.jpg
    bildnummer: "#055"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-56.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-56.jpg
    bildnummer: "#056"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-57.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-57.jpg
    bildnummer: "#057"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-58.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-58.jpg
    bildnummer: "#058"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-59.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-59.jpg
    bildnummer: "#059"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-60.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-60.jpg
    bildnummer: "#060"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-61.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-61.jpg
    bildnummer: "#061"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-62.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-62.jpg
    bildnummer: "#062"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-63.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-63.jpg
    bildnummer: "#063"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-64.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-64.jpg
    bildnummer: "#064"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-65.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-65.jpg
    bildnummer: "#065"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-66.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-66.jpg
    bildnummer: "#066"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-67.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-67.jpg
    bildnummer: "#067"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-68.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-68.jpg
    bildnummer: "#068"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-69.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-69.jpg
    bildnummer: "#069"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-70.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-70.jpg
    bildnummer: "#070"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-71.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-71.jpg
    bildnummer: "#071"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-72.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-72.jpg
    bildnummer: "#072"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-73.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-73.jpg
    bildnummer: "#073"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-74.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-74.jpg
    bildnummer: "#074"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-75.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-75.jpg
    bildnummer: "#075"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-76.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-76.jpg
    bildnummer: "#076"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-77.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-77.jpg
    bildnummer: "#077"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-78.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-78.jpg
    bildnummer: "#078"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-79.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-79.jpg
    bildnummer: "#079"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-80.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-80.jpg
    bildnummer: "#080"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-81.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-81.jpg
    bildnummer: "#081"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-82.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-82.jpg
    bildnummer: "#082"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-83.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-83.jpg
    bildnummer: "#083"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-84.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-84.jpg
    bildnummer: "#084"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-85.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-85.jpg
    bildnummer: "#085"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-86.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-86.jpg
    bildnummer: "#086"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-87.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-87.jpg
    bildnummer: "#087"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-88.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-88.jpg
    bildnummer: "#088"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-89.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-89.jpg
    bildnummer: "#089"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-90.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-90.jpg
    bildnummer: "#090"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-91.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-91.jpg
    bildnummer: "#091"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-92.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-92.jpg
    bildnummer: "#092"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-93.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-93.jpg
    bildnummer: "#093"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-94.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-94.jpg
    bildnummer: "#094"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-95.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-95.jpg
    bildnummer: "#095"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-96.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-96.jpg
    bildnummer: "#096"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-97.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-97.jpg
    bildnummer: "#097"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-98.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-98.jpg
    bildnummer: "#098"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-99.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-99.jpg
    bildnummer: "#099"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-100.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-100.jpg
    bildnummer: "#100"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-101.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-101.jpg
    bildnummer: "#101"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-102.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-102.jpg
    bildnummer: "#102"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-103.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-103.jpg
    bildnummer: "#103"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-104.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-104.jpg
    bildnummer: "#104"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-105.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-105.jpg
    bildnummer: "#105"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-106.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-106.jpg
    bildnummer: "#106"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-107.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-107.jpg
    bildnummer: "#107"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-108.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-108.jpg
    bildnummer: "#108"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-109.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-109.jpg
    bildnummer: "#109"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-110.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-110.jpg
    bildnummer: "#110"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-111.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-111.jpg
    bildnummer: "#111"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-112.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-112.jpg
    bildnummer: "#112"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-113.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-113.jpg
    bildnummer: "#113"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-114.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-114.jpg
    bildnummer: "#114"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-115.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-115.jpg
    bildnummer: "#115"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-116.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-116.jpg
    bildnummer: "#116"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-117.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-117.jpg
    bildnummer: "#117"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-118.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-118.jpg
    bildnummer: "#118"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-119.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-119.jpg
    bildnummer: "#119"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-120.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-120.jpg
    bildnummer: "#120"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-121.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-121.jpg
    bildnummer: "#121"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-122.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-122.jpg
    bildnummer: "#122"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-123.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-123.jpg
    bildnummer: "#123"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-124.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-124.jpg
    bildnummer: "#124"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-125.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-125.jpg
    bildnummer: "#125"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-126.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-126.jpg
    bildnummer: "#126"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-127.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-127.jpg
    bildnummer: "#127"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-128.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-128.jpg
    bildnummer: "#128"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-129.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-129.jpg
    bildnummer: "#129"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-130.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-130.jpg
    bildnummer: "#130"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-131.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-131.jpg
    bildnummer: "#131"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-132.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-132.jpg
    bildnummer: "#132"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-133.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-133.jpg
    bildnummer: "#133"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-134.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-134.jpg
    bildnummer: "#134"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-135.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-135.jpg
    bildnummer: "#135"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-136.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-136.jpg
    bildnummer: "#136"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-137.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-137.jpg
    bildnummer: "#137"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-138.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-138.jpg
    bildnummer: "#138"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-139.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-139.jpg
    bildnummer: "#139"
  - pop-up-background_image: /images/wandbilder/HeidiUlrichCopyright-140.jpg
    background_image: /images/wandbilder/HeidiUlrichCopyright-sm-140.jpg
    bildnummer: "#140"

---
<section class="padded bg-light text-white capped-width margin-t-2 xs-margin-t-0 center">
  <div class="editable">
      <h3> Ich hatte einen Unfall und kann somit vorübergehend keine Produkte versenden. Daher ist momentan die Bestellung nur auf Abholung in 6440 Brunnen möglich.</h3>
  </div>
</section>

<section class="capped-width">
    <div class="grid">
        <div class="col-12 padded padded-b-0 editable text-lila">
            <h2> Poster, Wandbilder, Postkarten </h2>
            <p class="emphasis"> Wie funktionierts? </p>
            <ol style="margin-left: 2rem;">
                <li>
                    <p> Format aussuchen </p>
                </li>
                <li>
                    <p> Bild aussuchen </p>
                </li>
                <li>
                    <p> Screenshot machen vom Bild, das du bestellen möchtest </p>
                </li>
                <li>
                    <p> Format und Bild mit Bildnummer in Bestellformular schreiben, Mengenangabe angeben und Screenshot hinzufügen</p>
                </li>
                <li>
                    <p> Bestellen, juhuuuu :) </p>
                </li>
                <li>
                    <p> Betrag an +41 79 733 09 36 per TWINT bezahlen. (Wenn du kein TWINT hast kannst du mich einfach kontaktieren.)</p>
                </li>
            </ol><br />
            <p> <em> Wenn du ein anderes Format bestellen möchtest oder ein Bild digital verwenden möchtest kannst du mich einfach kontaktieren. :) </em> </p>
            <p> <em> Bei Abholung in 6440 Brunnen fallen die Versandkosten weg. </em> </p>
        </div>
        <div class="col-12 padded padded-b-0 left text-lila editable">
            <h2> Formate </h2>
            <h3> Digital </h3>
            <p>&nbsp;1&nbsp; Foto - Fr. 3.90 </p>
            <p> 10 Fotos - Fr. 29.00</p>
        </div>
        <div class="col-12 padded padded-b-0 left text-lila editable">
            <h3> Leinwand mit Rand umschlagen </h3>
            <p> 60 x&nbsp; 45cm - Fr. 149.00 </p>
            <p> 60 x&nbsp; 80cm - Fr. 169.00 </p>
            <p> 75 x 100cm - Fr. 259.00 </p>
            <p class="italic"> Zubehör + Fr. 5.95, Versand: je nach Grösse Fr. 8.50 / Fr. 11.50 / Fr. 20.50 | Lieferfrist ca. 14 Tage </p>
        </div>
        <div class="col-12 padded padded-b-0 left text-lila editable">
            <h3> Poster ohne Laminat </h3>
            <p> 40&nbsp; x 50cm - Fr.&nbsp; 69.00 </p>
            <p> 50&nbsp; x 70cm - Fr.&nbsp; 89.00 </p>
            <p> 100 x 80cm - Fr. 119.00 </p>
            <p class="italic"> Versand: je nach Grösse Fr. 8.50 / Fr. 11.50 / Fr. 20.50 | Lieferfrist ca. 14 Tage </p>
        </div>
        <div class="col-12 padded padded-b-0 left text-lila editable">
            <h3> Poster Laminiert glänzend / Laminiert matt</h3>
            <p>&nbsp;40 x 50cm - Fr.&nbsp; 79.00 </p>
            <p>&nbsp;50 x 70cm - Fr.&nbsp; 99.00 </p>
            <p> 100 x 80cm - Fr. 149.00 </p>
            <p class="italic"> Versand: je nach Grösse Fr. 8.50 / Fr. 11.50 / Fr. 20.50 | Lieferfrist ca. 14 Tage </p>
        </div>
        <div class="col-12 padded left text-lila editable">
            <h3> Postkarte </h3>
            <p> Fotokarte A6&nbsp; 1 Stück -&nbsp; Fr. 4.90</p>
            <p>Fotokarte A6 10 Stück - Fr. 39.00</p>
            <p> </p>
            <p class="italic"> Versand: Fr. 1.00 / Fr. 1.40 | Lieferfrist: 7 bis 10 Arbeitstage </p>
        </div>
        <div class="col-12 center">
          <div class="center">
            <div class="inline-block">
              <div class="button-div relative">
                <a href="#bestellen" class="button-text"> jetzt bestellen </a>
                <div class="button-underline"></div>
              </div>
            </div>
          </div>
        </div>

    </div>
</section>


{% if page.popup-gallery == true %}


<section class="padded {{page.gallery-background}}">
    <div class="portfolio" id="lightgallery">

        {% for item in page.gallery %}

        <a class="gallery-container" href="{{item.pop-up-background_image}}" data-sub-html="<h4> {{item.bildnummer}} </h4>"> 
            <img src="{{item.background_image}}" />
            <p> {{ item.bildnummer }} </p>
        </a>

        {% endfor %}

    </div>
</section>

{% else %}

 <!------------------------------- standard Responsive Image Gallery -------------------------------->

 <section class="padded {{page.gallery-background}}">
    <h2 class="center"> Standard Gallery </h2>
    <div class="portfolio">

        {% for item in page.gallery %}
        <div class="{{item.column-size}}"> 
             <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> 
            </div>
        </div>

        {% endfor %}
    </div>
</section>

{% endif %}


<section class="padded capped-width-v-narrow" id="bestellen">
    <div class="center editable text-lila">
        <h2 class="margin-b-2"> Bestellformular </h2>
    </div>
    <form class="margin-t-2" action="https://formspree.io/f/xyzyapag" method="POST">
        <label for="_vorname"> Vorname </label>
        <input type="text" name="_vorname" id="_vorname" />

        <label for="_nachname"> Nachname </label>
        <input type="text" name="_nachname" id="_nachname" />

        <label for="_adresse"> Strasse, Nr. </label>
        <input type="text" name="_adresse" id="_adresse" />

        <label for="_wohnort"> PLZ, Wohnort </label>
        <input type="text" name="_wohnort" id="_wohnort" />

        <label for="_replyto"> Email </label>
        <input type="email" name="_replyto" id="_replyto" placeholder="" />

        <label for="phone"> Telefonnummer </label>
        <input type="tel" id="phone" name="phone" pattern="+[0-9]{2}-[0-9]{2}-[0-9]{3}-[0-9]{4}" placeholder="" />
        
        <label for="files">Screenshots</label>
        <input type="file" id="files" name="files" multiple />

        <label for="message"> Bestellung?</label>
        <textarea name="message" id="message" placeholder="1x Poster Laminiert glänzend - 50 x 70cm - Fr. 99.00 - BILD #999"></textarea>
   
        <button type="submit" class="button"> Abschicken </button>

    </form>

</section>